*{
	padding:0;
	margin:0;
}

body{
	background: #005A31;
	font-family: 'Lobster', cursive;
}
.wrapper{
	width:1200px;
	height:750px;
	background: #fff;
	margin:10px auto;
}
.right-page{
	width: 900px;
	height: 750px;
	background: #CBE32D;
	float: right;
	box-shadow: -3px 1px 6px gray;
}

.right-page .profile{
	
	width: 100px;
	height: 100px;
	
	position: relative;
	margin:25px 10px 10px 33px;
	display: inline-table;
	float:none;
}
.right-page .profile img{
	
	width:100px;
	height: 100px;
	position: relative;
}
.right-page .profile a{
	position: absolute;
	color: #FFF;
	text-decoration: none;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background: rgba(0,0,0,0.5);
	font-family: 'Lobster', cursive;
	margin-bottom: 4px;
	width: 100px;
	height: 20px;	
}
.right-page .profile a:hover{
	color : orangered;	
	transition: color .5s;
}
.left-page{
	width:300px;
	height: 750px;
	float:left;

}
.logo{
	width: 200px;
	height: 200px;
	margin:auto;
}
.left-page img{
	width: 200px;
	height: 200px;

}
.nav{
	
	height: 300px;
}
.nav ul{
	 list-style-type: none;
	 text-align: center;
	 line-height: 25px;
}
.nav ul li {
	background: #A8CD1B;
	color: #fff;
	font-size: 20px;
	height: 40px;
	width: 200px;
	line-height: 40px;
	margin:5px auto;
}
.nav ul li:hover{
	color: yellow;
	background-color: black;
	transition: color 0.75s, background-color 1s;
}
.nav a{
	text-decoration: none;
}

.quote{

	width:200px;
	height: 100px;
	margin:10px auto;
	font-family: Consolas,monaco,monospace; 
	font-size: 16px;
	border-top: 1px solid rgb(77, 78, 79);
}
.quote p{
	margin-top: 10px;
	text-align: justify;
	font-weight: bold;
}
.chat{
	width: 700px;
	height: 500px;
	margin: 5px auto;
}

.chat label {
	margin-top: 50px;
	
}
.chat h1{
	text-align: center;
	border-bottom: 5px solid black;
 
}

textarea{
	margin:5px auto;
	width: 700px;
	height: 80px;
}
button{
	border: none;
	width: 100px;
	height: 25px;

}

#reloadbox{
		
	height: 500px;
	overflow-y: auto;
	vertical-align: bottom;
	padding-top: 10px;
	background: black;
	color:white;
	font-family: Consolas,monaco,monospace; 
}
#reloadbox b{
	
	padding: 0px 3px;
	border-radius: 5px;
}
#reloadbox .lineChat{
	margin: 5px 0px;
}
/*Comment*/
form#appForm1{
	width: auto;
	height: auto;
	margin:0;
	padding: 0;
	border: none;
	text-align: left;
}
form#appForm1 button{
	width: 100px;
}
#chat-name{
	margin-bottom: 10px;
}
.box{
	max-width: 700px;
	margin-left: 10px;
	word-wrap: break-word;
}

.info{
	font-family: Consolas,monaco,monospace; 
	font-size: 14px;
	width: 200px;
	height: 18px;
	text-align: center;
	margin:80px auto auto auto;
	background: lightblue;
	cursor: pointer;
	float:none;
}

button #changeStyle{
	width: 90px;
	
}
.test{
	font-family: Consolas,monaco,monospace; 
	background: black;
	height: 700px;
	color: green;
	padding: 10px;
	overflow-y: auto;
	position: relative;
}


/*SIGN IN DESIGN*/


.signup form{

	width: 500px;
	height: auto;
	margin:50px auto;
	padding:10px 10px;
}

/*LOGIN DESIGN*/


form{
	text-align: center;
	width: 400px;
	height: 250px;
	margin: 50px auto;
	padding:5px 10px;
	border: 3px #FFF dotted;

}
form input{
	width: 300px;
	height: 40px;
	margin: 10px 0px;
	padding-left: 10px;
}
form input,
form input::placeholder{
	font-family: 'Lobster', cursive;
	font-size: 20px;

}
.login form label{
	margin: 20px 0px;
}
form button{
	margin-top: 5px;
	width: 310px;
	height: 35px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	margin-bottom: 10px;
}
form button:hover{
	color:yellow;
	background-color: black;
	transition: color 0.75s,background-color 1s;
}